## IBM Data Science Prep

## intro
This notebook has basic markdown and code exercises for practicing essential data science concepts.

# Data Sciecnce Languages
- Python, R, SQL, Java, Scala

# Data Science Libraries
- Pandas, NumPy, Scikit-learn, TensorFlow, Matplotlib

# Data Science Tools
| Tool | Description 
Jupyter | Interactive coding notebooks
RStudio | IDE for R
VS Code | General code editor
Apache Spark | Big data processing
Tensor Flow | Deep learning framework

# Arithmetic Expression Examples
- 3 +3 = 6
- 10+4 = 14
- 2* 3 = 6
- 20/4 = 5

In [4]:
a = 5 
b = 3
c = a*b + 2
print(c)

17

In [8]:
minutes = 120
hours = minutes /  60
print(hours)

2.0

In [10]:
## Objectives

In [ ]:
-